<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="body" style=" background-color: #caa5ad; min-height: 100vh;">
  <%- include('../partials/backnav'); %>
   

    <section style=" background-color: #caa5ad">
        <div class="container p-4 text-center">
            <h1>Product Table</h1>                
            <a href="/addproduct" class="btn  btn-sm float-end" style="background-color: whitesmoke;">Add product</a>

        </div>
     <div class="container pt-5">
        <div class="row">
          <% products.map((product, ind) => { %>
            <div class="col-md-6 col-sm-6">
                <div class="card mb-3">
                    <div class="row g-0">
                      <div class="col-6">
                        <img src="<%= product.image %>" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-6">
                        <div class="card-body pt-3">
                          <h5 class="card-title"><%= product.name %></h5>
                          <p class="card-text"><%= product.price %></p>
                          <a href="/edit/<%= product.id %>" class="btn btn-sm btn-warning mb-3">Edit</a>

                          <form method="POST" action="/product/<%= product.id %>?_method=DELETE">
                              <button class="btn btn-sm btn-danger" type="submit" style="border: none; background: none;">  
                              <i style="color: red;" class="fa-solid fa-trash fa-danger p-2"> Delete</i>
                            </button>
                          </form>
                          
                        </div>
                      </div>
                    </div>
                  </div>
              </div>

              <% }) %>
        </div>
     </div>
    </section>

        <%- include('../partials/footer'); %>
    
</body>
</html>